<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="css/main.css" media="all" rel="stylesheet" type="text/css" />
<title>首页-后台管理系统</title>
</head>

<body>
<div id="wrap">
  <div id="admin-info">
    <div class="userinfo">
      <span>■</span> 当前登录用户：admin 角色：管理员
    </div>
  </div>
  <div id="content-wrap">
    <div id="content"></div>
  </div>
</div>
</body>
</html>