<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>后台管理系统</title>
</head>
<frameset border="0" frameborder="0" rows="93,*">
<frame id="top-frame" name="top-frame" noresize="noresize" scrolling="no" src="top.html" />
<frameset border="0" cols="165,*" frameborder="0">
  <frame id="left-frame" name="left-frame" noresize="noresize" scrolling="auto" src="left.html" />
  <frame id="main-frame" name="main-frame" src="home.html" />
</frameset>
<noframes>
  <body>
  </body>
  </noframes>
</frameset>
</html>