<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="css/login.css" media="all" rel="stylesheet" type="text/css" />
<title>用户登录-后台管理系统</title>
</head>

<body id="login-page">
<div id="wrap">
  <div id="top"></div>
  <div id="main">
    <div id="login-wrap">
      <form action="" method="post">
        <div class="login-text">
          <ul>
            <li>
              <label>用户名：<input autocomplete="off" name="username" type="text" /></label>
            </li>
            <li>
              <label>密　码：<input autocomplete="off" name="password" type="password" /></label>
            </li>
            <li>
              <label>验证码：<input autocomplete="off" class="captcha" name="captcha" type="text" /></label>
            </li>
          </ul>
        </div>
        <div class="login-button">
          <ul>
            <li>
              <input class="sp-bt-01" type="submit" value="登录" />
            </li>
            <li>
              <input class="sp-bt-01" type="reset" value="重置" />
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
  <div id="bottom"></div>
</div>
</body>
</html>