<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="css/login.css" media="all" rel="stylesheet" type="text/css" />
<title>框架顶部-后台管理系统</title>
</head>

<body id="top-frame">
<div id="wrap">
  <div id="left">
    <div id="nav">
      <a class="home" href="">首页</a>
      <a class="back" href="">后退</a>
      <a class="forward" href="">前进</a>
      <a class="fresh" href="">刷新</a>
      <a class="help" href="">帮助</a>
    </div>
  </div>
  <div id="right">
    <div id="operate">
      <a class="password" href="">修改密码</a>
      <a class="info" href="">用户信息</a>
      <a class="logout" href="">退出系统</a>
    </div>
    <div id="calendar">
      今天是：2010年10月17日　星期日
    </div>
  </div>
</div>
</body>
</html>