[mysqld_multi]
mysqld     = /data/app/mysql/bin/mysqld_safe
mysqladmin = /data/app/mysql/bin/mysqladmin
#user       = 
#password   = 


[mysqld3307]
character-set-server = gbk
port	= 3307
socket	= /data/DB/3307/mysql.sock
basedir	= /data/app/mysql
datadir	= /data/DB/3307/data
back_log = 500
open_files_limit    = 10240
max_connections = 3000
max_connect_errors = 6000
wait_timeout = 10 
table_cache = 512
external-locking = FALSE
max_allowed_packet = 32M
long_query_time = 2
log-slow-queries = slow-log.log
table_cache = 256K 
sort_buffer_size = 4M
join_buffer_size = 4M
thread_cache_size = 256
thread_concurrency = 8
query_cache_size = 32M
query_cache_limit = 2M
query_cache_min_res_unit = 2k
thread_stack = 192K
transaction_isolation = READ-COMMITTED
binlog_format="MIXED"
key_buffer_size = 256M
read_buffer_size = 4M
myisam_sort_buffer_size = 128M
tmp_table_size = 256M
skip-name-resolve
read_rnd_buffer_size = 16M

max_heap_table_size = 246M
#log_long_format

binlog_cache_size = 2G
max_binlog_cache_size = 4G

read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M



innodb_buffer_pool_size = 4G
innodb_data_file_path = ibdata1:1024M:autoextend
innodb_file_io_threads = 4
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 128M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
innodb_file_per_table = 0



server-id=2

relay-log=relay-bin3307
relay-log-index=relay-bin3307.index
replicate-ignore-db=mysql

rpl_semi_sync_slave_enabled=1
relay_log_recovery=1

max-relay-log-size=1G


log-error=/data/DB/3307/mysqld.err

[mysqld3308]
character-set-server = gbk
port	= 3308
socket	= /data/DB/3308/mysql.sock
basedir	= /data/app/mysql
datadir	= /data/DB/3308/data
back_log = 500
open_files_limit    = 10240
max_connections = 3000
max_connect_errors = 6000
wait_timeout = 10 
table_cache = 512
external-locking = FALSE
max_allowed_packet = 32M
long_query_time = 2
log-slow-queries = slow-log.log
table_cache = 256K 
sort_buffer_size = 4M
join_buffer_size = 4M
thread_cache_size = 256
thread_concurrency = 8
query_cache_size = 32M
query_cache_limit = 2M
query_cache_min_res_unit = 2k
thread_stack = 192K
transaction_isolation = READ-COMMITTED
binlog_format="MIXED"
key_buffer_size = 256M
read_buffer_size = 4M
myisam_sort_buffer_size = 128M
tmp_table_size = 256M
skip-name-resolve
read_rnd_buffer_size = 16M

max_heap_table_size = 246M
#log_long_format

binlog_cache_size = 2G
max_binlog_cache_size = 4G

read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M



innodb_buffer_pool_size = 4G
innodb_data_file_path = ibdata1:1024M:autoextend
innodb_file_io_threads = 4
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 128M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
innodb_file_per_table = 0



server-id=4

relay-log=relay-bin3308
relay-log-index=relay-bin3308.index
replicate-ignore-db=mysql

rpl_semi_sync_slave_enabled=1
relay_log_recovery=1

max-relay-log-size=1G


log-error=/data/DB/3308/mysqld.err
