<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<base target="main">
<title>MAIN-后台管理系统</title>
<link rel="stylesheet" href="css/main.css" />
<script src="js/jquery-1.6.2.js"></script>
</head>
<body>
<div class="breadcrumbs">&nbsp;批量管理</div>
<table class="tb-operate" width="98%" cellspacing="1" cellpadding="3" border="0" align="center">
	<thead>
		<tr>
			<td>后台管理系统</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="50%">用户ID：<input type="text" name="id" value="" /></td>
		</tr>
	</tbody>
	<tfoot>
		<tr >
			<td><input type="submit" value="搜索" /></td>
		</tr>
	</tfoot>
</table>
<table class="tb-list" width="98%" cellspacing="1" cellpadding="3" border="0" align="center">
	<thead>
		<tr>
			<th width="6%">ID</th>
			<th width="4%">选择</th>
			<th width="28%">文章标题</th>
			<th width="10%">更新时间</th>
			<th width="10%">类目</th>
			<th width="8%">点击</th>
			<th width="6%">HTML</th>
			<th width="8%">权限</th>
			<th width="8%">发布人</th>
			<th width="10%">操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>	
	<tfoot>
		<tr bgcolor="#F9FCEF" align="right">
			<td height="36" align="center" colspan="10">
				<span>共 0 页/0条记录</span>
			</td>
		</tr>
	</tfoot>
</table>
</body>
</html>
